@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Show bookmark bar only on new tab
 */
#main-window #PersonalToolbar {
  visibility: collapse !important;
}

#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
  visibility: visible !important;
}


/* Hide options from hamburger menu
 */
#appMenu-mainView #appMenuRestoreLastSession,
#appMenu-mainView #appMenu-zoom-controls,
#appMenu-mainView #appMenu-zoom-controls + toolbarseparator,
#appMenu-mainView #appMenu-edit-controls,
#appMenu-mainView #appMenu-edit-controls + toolbarseparator,
#appMenu-mainView #appMenu-library-button,
#appMenu-mainView #appMenu-open-file-button,
#appMenu-mainView #appMenu-save-file-button,
#appMenu-mainView #appMenu-more-button,
#appMenu-mainView #appMenu-developer-button,
#appMenu-mainView #appMenu-print-button,
#appMenu-mainView #appMenu-print-button + toolbarseparator {
  display: none;
}


/* Hide options in address bar
 */
 .urlbar-history-dropmarker,
 #urlbar:hover > .urlbar-textbox-container > .urlbar-history-dropmarker,
 #forward-button,
 #pocket-button-box,
 #pageAction-panel-bookmark,
 #pageAction-panel-pocket,
 #pageAction-panel-pocket + toolbarseparator,
 #pageAction-panel-emailLink,
 #pageAction-panel-sendToDevice,
 #pageAction-panel-copyURL,
 #pageAction-panel-screenshots,
 #pageAction-panel-screenshots + toolbarseparator,
 #pageAction-panel-webcompat-reporter-button,
 #pageAction-panel-webcompat-reporter-button + toolbarseparator {
   display: none;
 }

#pageActionButton {
	transform: rotate(90deg);
}

 /* Hide option in identify (HTTPS) box
  */
/* HTTPS label (company identity) */
#identity-box.verifiedIdentity:not(:hover) > #identity-icon-labels {
   display: none;
 }
 /* Red box on non-secure connection */
 #identity-box.notSecure {
   color: red;
 }


/* Hide option in context menu (Right Click)
 */
#context-pocket,
#context-savelinktopocket,
#context-sendpagetodevice,
#context-sendlinktodevice,
#context-bookmarkpage,
#context-bookmarklink,
#context-openlink,
/* #context-savelink, */
#context-savepage,
#context-selectall,
#context-viewsource,
#context-copyimage-contents,
#context-sendimage,
#fill-login,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement {
  display: none;
}


/* Hide option when RClick on tab
 */
#context_reloadTab,
#context_duplicateTab,
#context_reopenInContainer,
#context_openTabInWindow,
#context_sendTabToDevice_separator,
#context_sendTabToDevice,
#context_sendTabToDevice + menuseparator,
#context_reloadAllTabs,
#context_bookmarkAllTabs,
#context_closeTabsToTheEnd,
#context_undoCloseTab {
  display: none;
}


/* Hide maximize button
 */
#titlebar-max {
  display: none;
}


/* Show close tab button only when hover
 */
 .tabbrowser-tab:not(:hover) .tab-close-button.close-icon{
   display:none;
}


/* Change Hamburger menu icon
 */
#PanelUI-menu-button {
    list-style-image: url("chrome://branding/content/icon16.png") !important;
}
@media (min-resolution: 2dppx) {
  #PanelUI-menu-button {
      list-style-image: url("chrome://branding/content/icon32.png") !important;
  }
}


/* Show only extension icon in overflow menu
 */
#overflowMenu-customize-button {
  display: none;
}

/*
#widget-overflow-mainView {
  min-width: unset !important;
}
*/

.widget-overflow-list {
  /* width: unset !important; */
  display: flex;
}

.widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined) > .toolbarbutton-text {
  display: none;
}


/* One-line tabbar and addressbar
 * This settings is for Arc themes and Firefox Compact Mode
 * Change margin value depend on your OS theme and Firefox Mode
 */
/* Remove empty space before first tab */
#TabsToolbar .titlebar-placeholder[type="pre-tabs"]{
  display: none !important;
}
#nav-bar {
  /* margin-top: -30px !important; */
  margin-left: 55vw;
  margin-right: 55px; /* 85px if include maximize button */
  background: transparent !important;
}
#TabsToolbar {
  margin-right: 40vw;
  /* This is a hack to avoid address bar jump to the bottom when holding tab,
  instead of moving navbar to the top, move tabs bar to the bottom */
  margin-bottom: -32px !important;
}
/* Fix blank space when moving tab
   Source: https://www.reddit.com/r/FirefoxCSS/comments/8w5ynu/how_to_get_rid_of_this_animation_when_dragging/e1t8vka/ */
#TabsToolbar[movingtab] {
  padding-bottom: 0 !important;
  /* overflow: hidden !important; */
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: 0 !important;
}
#nav-bar {
  margin-top: 0 !important;
}
